:root {
  --branco: #FFFFFF;
  --preto: #000000;
}

html {
  background-color: var(--branco) !important;
  color: var(--preto) !important;

  body {

    .header {
      display: flex;
      justify-content: space-between;
      padding: 0;
    }
  
    #root {
      padding: 2rem;
      text-align: center;
      height: 90vh;
      width: 100%;
      display: flex;
      flex-direction: column;

      .card {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100%;

        .titulo {
          text-align: center;
          font-size: 40px;
        }
    
        .form {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 50%;
          margin: 20px;
    
          .campos {
            margin: 15px;
            width: 60%;
      
            .label {
              display: block;
              margin-bottom: 5px;
              font-weight: bold;
              text-align: left;
            }
      
            .input {
              border: 2px solid var(#ddd);
              border-radius: 7px;
              height: 28px;
              width: 96%;
              padding: 6px;
              outline: none;
            }

            .react-datepicker-wrapper {
              display: block !important;
            }

            .select {
              border: 2px solid var(--border);
              border-radius: 7px;
              height: 45px;
              width: 100%;
              padding: 6px;
              outline: none;
            }
          }

          .camposHora, .camposSenha {
            width: 60%;
            display: flex;
            justify-content: space-between;

            .camp {
              width: 100%;

              .label {
                display: block;
                margin-bottom: 5px;
                font-weight: bold;
                text-align: left;
              }
        
              .input {
                border: 2px solid var(#ddd);
                border-radius: 7px;
                height: 28px;
                width: 90%;
                padding: 6px;
                outline: none;
              }
            }
          }
    
          .submit {
            display: flex;
            justify-content: flex-end;
            width: 60%;
            margin: 15px;
  
            p {
              font-size: 13px;
            }
    
            .salvar {
              border-radius: 5px;
              border: none;
              cursor: pointer;
              width: 15%;
              height: 30px;
              font-size: 15px;
              font-weight: bold;
              padding: 0px;
              width: 70px;
    
            }
          }
        }
      }
    
      .home {
        .titulo {
          font-size: 40px;
          text-align: start;
        }
  
        .viagens {
          margin-top: 5%;
          display: flex;
  
          .infoViagem {
            width: 15%;
            height: 30vh;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            margin-right: 40px;
  
              .adicionarViagem, .viagemCadastrada {
                border: 2px solid black;
                border-radius: 7px;
                padding: 2%;
                width: 95%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
              }
  
              .icone {
                margin: 0px;
                font-size: 40px;
              }
          }
        }
      }
  
      .planoViagem {
        text-align: start;
  
        .telasInfo {
          display: flex;
          justify-content: space-between;
          margin: 3% 0 4% 0;
          width: 80%;
  
          .opcao {
            border: 2px solid var(--preto);
            border-radius: 7px;
            padding: 0.5%;
          }
        }

        .agenda {
          display: flex;
          justify-content: space-between;
        }
  
        .listaHospedagens, .listaTransporte, .listaPasseios, .listaDespesas {
          margin-top: 2%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 60%;
          border-bottom: 1px solid #dddddd;
  
          p {
            margin: 2px;
          }
  
          h3 {
            margin: 5px 0px;
          }
          
        }
  
        .submit {
          display: flex;
          justify-content: flex-end;
  
          .adicionar {
            border: 2px solid var(--preto);
            border-radius: 100px;
            font-size: 35px;
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  html {
    body {
      #root {
        .card {
          .form {
            width: 100%;
          }
        }
      }
    }
  }
}

@media (max-width: 550px) {
  html {
    body {
      #root {
        .card {
          .titulo {
            font-size: 35px;
          }

          .form {
            .campos {
              width: 90%;
            }
  
            .submit {
              width: 90%;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 355px) {
  html {
    body {
      #root {
        .card {
          h1 {
            font-size: 25px;
          }
        }
      }
    }
  }
}